.sigh {
    margin-left: 4%;
    margin-right: 4%;
}

.navbar-nav .nav-item a:hover {
    text-decoration: underline;
}

.nav-link a:hover {
    color: blue;
}

.my-btn {
    background: #F20091;
    border: 0px;
    border-radius: 0%;
    color: #F7F7F7;
    text-shadow: 0 -1px transparent;
}